
/*________________TOOLTIP_____________*/
#tooltip{
	position:absolute;
	border:1px solid #333;
	background:#A2A7D7;
	padding:10px;
	color:#333;
	display:none;
	border-radius: 8px;
}
/*___________END TOOLTIP_____________*/

/* produk */
#produk {
	list-style-position:inside;
	padding: 15px 0 auto;
	border-radius: 10px;
	/*background: #DF6D50;*/
	list-style: none;
	width: 850px;
	float: left;
	padding-bottom: 20px;
	padding-top: 20px;
}
#produk a {color: #746759}
#produk a .lis-produk-depan p {font-size: 20px; text-align: center; left:50%; top:50%; font-family: verdana}
#produk a .lis-produk-depan {background: #A7BCCD; border: solid 5px #adadad}
#produk a .lis-produk-depan:hover{ background: #E1F37A; box-shadow: 0 0 35px #fff}

#produk .lis-produk {
	float: left; 
	padding: 5px; 
	border: dotted 1px #3D1103; 
	margin: 5px; 
	border-radius: 10px;
	width: 170px;
	height: 230px;
	background: #AC0C0C;
}

#produk .lis-produk-depan{
	float: left; 
	padding: 5px; 
	border: dotted 1px #85A737; 
	margin: 5px; 
	border-radius: 10px;
	width: 170px;
	height: 150px;
}


#produk .lis-produk h3, #produk .lis-produk-depan h3{
	font-weight: bold;
	font-size: 12px;
	margin: -4px -4px 0 -4px;
	text-align: center;
	padding: 4px;
	border-radius: 10px;
	background: #F9FCF2;
	height: 35px;
}
#produk .lis-produk img, #produk .lis-produk-depan img{
	margin: 13px;
	width: 130px;
	height: 150px;
	border: solid 5px #eee;
}
#produk .lis-produk .more{
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	margin: 15px 15px auto;
}
#produk .lis-produk .isi, #produk .lis-produk-depan .isi{
	height: 130px;
	width: 140px;
	background-image:url('folder.png');
	background-position:center; 
	background-size:150px 130px;
	background-repeat:no-repeat;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	margin: 15px 15px auto;
}

#produk .lis-produk .isi img, #produk .lis-produk-depan .isi img{
	margin: 30px 20px 50px 20px;
	width: 90px;
	height: 75px;
	border: none;
	box-shadow:3px 3px 3px 1px #ADC2B3;	
}